

<h1>Student Registration</h1>


<div class="container">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">
            <div class="error" *ngIf="this.userForm.controls.name.errors?.required">
              This is Mandatory field. 
            </div>
            
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" formControlName="lname" aria-describedby="emailHelp">
            <div class="error" *ngIf="this.userForm.controls.lname.errors?.required">
              This is Mandatory field. 
            </div>
          </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"> 
        <div class="error" *ngIf="this.userForm.controls.email.errors?.pattern">
        please Enter valid Email.
      </div> 
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contact</label>
        <input type="number" class="form-control" formControlName="number">
        <div class="error" *ngIf="this.userForm.controls.number.errors?.pattern">
            please enter contact number. 
        </div> 
      </div>
       <div>
          Male<input type="radio" value="male"  formControlName="gender">
  
          Female <input type="radio" value="Female" formControlName="gender">
          <div class="error" *ngIf="this.userForm.controls.gender.errors?.required">
            This is Mandatory field. 
          </div>
      
       </div><br><br>
     
   
      
      <button  [disabled]="this.userForm.invalid" type="submit" class="btn btn-primary" (click)="submitDetails()">Submit</button>
      </form>

</div>


<!-- <router-outlet></router-outlet> -->
